*{
    margin: 0px; 
    padding: 0px;
}

body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #eef1f3
}
.mt-100{
    margin-top:100px
}
.card{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s
}
.card-header:first-child{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
.card-header{
    display: flex;align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid rgba(26,54,126,0.125)
}
.btn-primary{
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}
.btn-lg{
    font-size: 0.8rem;
    font-weight: 500;
    outline: none !important;
    position: center;
    transition: color 0.15s,background-color 0.15s,border-color 0.15s,box-shadow 0.15s
}

.btn-publicacion {
    position: center;

}
.card-body{
    flex: 1 1 auto;padding: 1.25rem
}
.card-body p{
    font-size: 13px
}

a{
    color: #E91E63;
    text-decoration: none !important;
    background-color: transparent
}
.media img{
    width: 40px;
    height: auto
}



/* foooter */

footer{
    width: 100%;
    background: #202020;
    color: white;   
  }
  
  .container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
  
  .container-body{
    display: flex;
    justify-content: space-between;
  }
  
  .colum1{
    max-width: 400px;
  }
  
  .colum1 h1{
    font-size: 22px;
  }
  
  .colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
  
  .colum2{
    max-width: 400px;
    
  }
  
  .colum2 h1{
    font-size: 22px;
  }
  
  .row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  
  .row img{
    width: 50px;
    height: auto;
  }
  
  .row label{
    
    margin-top: -39px;
    margin-left: 46px;
    color: #C7C7C7;
  }
  
  
  .colum3{
    max-width: 400px;
  }
  
  .colum3 h1{
    font-size: 22px;
  }
  
  .row2{
    margin-top: 20px;
    display: flex;
  }
  
  .row2 img{
    width: 50px;
    height: auto;
  }
  
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  .container-footer{
    width: 100%;  
    background: #101010;
  }
  
  .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
  }
  
  .copyright{
    color: #C7C7C7;
  }
  
  .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .information a{
    text-decoration: none;
    color: #C7C7C7;
  }
  
  @media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,
    .colum3{
        margin-top: 40px;
    }
  }
  /*CODIGO ISAIS TERMINA*/ 